@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
  background-color: #001d0c;
  text-align: center;
  color: #00ff6a;
  font-family: 'Ubuntu Mono', monospace;
  display: block;
  font-size: 2rem;
  a {
    color: aqua;
    text-decoration: none;
  }
}